<ion-view view-title="About Us">
  <ion-content>
        <div class="card">
            <div class="item item-divider">
                <h2>Our History</h2>
            </div>
            <div class="item item-text-wrap">
                <p>Language Academy is a school for English language and Western culture. We are based in Cambridge,Massachusetts and provide unique English classes to a variety of non-native English speakers in the Boston area. We also hold fun events and parties for our students and friends to give everyone an opportunity to meet new people who want to learn English too!

                Our programs and classes use activities to help students improve their colloquial English and communication skills, as well as their understanding of Western culture and daily life.</p>
            </div>
             <div class="well">
                    <blockquote>
                        <p>Learn everything you can, anytime you can, from anyone you can; there will always come a time when you will be grateful you did.</p>
                        <footer>Sarah Caldwell  
                        <cite title="Source Title"></cite></footer>
                    </blockquote>                
                </div>
      </div>
      <ul class="list list-inset">
        <li class="item item-divider">
            <h2>Corporate Leadership</h2>
        </li>
        <li class="item item-avatar item-text-wrap">
            <img ng-src="https://language-website-90611.onmodulus.net/images/Sergio.png" alt="Peter Pan">
             <h3 class="media-heading">Sergio Risquez Ruiz
                        <small>Founder</small></h3>
                        <p>I was born in Barcelona in 1981, but I grew up in Cordoba. I realized that my true vocation was always to teach to others. For that purpose, I established the english academy to be helpful for the community. People could benefit from learning english in order to apply for good jobs and They could have better opportunites. </p>
        </li>
    </ul>
  </ion-content>
</ion-view>
