<ion-view view-title="Language Academy">
  <ion-content>
      <div class="card">
          <div class="item item-divider">
            OUR GUARANTEE
          </div>
          <div class="item item-thumbnail-left item-text-wrap">
               <img ng-src="https://language-website-90611.onmodulus.net/images/guarantee.png" alt="Uthappizza">
                 <p>Because of the individualized nature of our programs and the high quality of our instruction, we guarantee your satisfaction. If you are not fully satisfied with the quality of instruction, you may request a refund of your tuition in full. Registration and late fees are non-refundable. Please read detailed information.</p>
          </div>
      </div>

      <div class="card">
          <div class="item item-divider">
            OUR INSTRUCTORS
          </div>
          <div class="item item-thumbnail-right item-text-wrap">
               <img ng-src="https://language-website-90611.onmodulus.net/images/Instructor.jpg" alt="Instructor">
                <p>A typical instructor at The Boston Language Academy is a native speaker with years of teaching experience in this country and abroad. Because of the quality of our programs we tend to attract highly motivated students whose level of motivation as a class further enhances the results for each student in the class.</p>
          </div>
      </div>


  </ion-content>
</ion-view>
