
 <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Navigation</h1>
    </ion-header-bar>
<ion-view view-title="menuLessons">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider" ng-if="loggedIn">
            {{username}}
        </ion-item>
        <ion-item menu-close href="#/app/lessonManageStu/requestLessonStudent">
          Request Lesson
        </ion-item>
         <ion-item menu-close href="#/app/lessonManageStu/reviewLessonsStu">
          Review Lessons
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
  </ion-side-menu>



