<ion-view view-title="Programs">
  <ion-content>
      <div class="card">
          <div class="item item-divider">
            Conversation Practice (CPP)
          </div>
          <div class="item item-thumbnail-left item-text-wrap">
               <img ng-src="https://language-website-90611.onmodulus.net/images/speaking.png" alt="Conversatio">
                 <p>A truly unique conversation practice class that offers one-on-one speaking practice for English language learners. Our Conversation Practice Class allows you to connect with a native English speaker through culture and language in an interactive setting.</p>
          </div>
      </div>

      <div class="card">
          <div class="item item-divider">
            Test Preparation (TPP)
          </div>
          <div class="item item-thumbnail-left item-text-wrap">
               <img ng-src="https://language-website-90611.onmodulus.net/images/preparation.jpg" alt="preparation">
                <p>A typical instructor at The Boston Language Academy is a native speaker with years of teaching experience in this country and abroad. Because of the quality of our programs we tend to attract highly motivated students whose level of motivation as a class further enhances the results for each student in the class.</p>
          </div>
      </div>

       <div class="card">
          <div class="item item-divider">
            Specialized Program (SP)
          </div>
          <div class="item item-thumbnail-left item-text-wrap">
               <img ng-src="https://language-website-90611.onmodulus.net/images/Specialized.png" alt="Specialized">
               <p>These lessons offer a dynamic environment that allows you to design an individual learning plan for your unique needs. With a private instructor you can focus on specific areas of English such as grammar, vocabulary, writing, speaking or listening.</p>
          </div>
      </div>


  </ion-content>
</ion-view>
