<ion-view view-title="Resources">

<ion-content class="padding">
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/app/speaking/1">Speaking</a>
          </p>
           <p>
            <a class="button icon icon-right ion-chevron-right" href="#/app/speaking/2">Grammar</a>
          </p>
           <p>
            <a class="button icon icon-right ion-chevron-right" href="#/app/speaking/3">Reading</a>
          </p>
           <p>
            <a class="button icon icon-right ion-chevron-right" href="#/app/speaking/4">Vocabulary</a>
          </p>
           <p>
            <a class="button icon icon-right ion-chevron-right" href="#/app/speaking/5">Listening</a>
          </p>
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/app/speaking/6">Writing</a>
          </p>
</ion-content>

</ion-view>